<!-- Modal orders_unlinked -->
<div class="modal fade" id="investment" tabindex="-1" role="dialog" aria-labelledby="investment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_record_Label">
          <i class="fas fa-hand-holding-usd"></i> Investment
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        <div class="modal-body">
          {% csrf_token %}
          <table class="table table-responsive">
            {{investment_form}}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="investment">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>