{% extends "web/base.html" %}

{% block title %}
    Entry View
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h5>Entry Overview</h5>
			<table class="table">
				<tr>
					<th>Stock</th>
					<td>{{entry.stock}}</td>
				</tr>
				<tr>
					<th>Open Date</th>
					<td>{{entry.date_open}}</td>
				</tr>
				<tr>
					<th>Close Date</th>
					<td>{{entry.date_close}}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{% if entry.is_closed %}Close{%else%}Open{%endif%}</td>
				</tr>
				<tr>
					<th>Remaining</th>
					<td>{{entry.remaining}}</td>
				</tr>
				<tr>
					<th>Profit</th>
					<td>¥{{entry.profit}}</td>
				</tr>
			</table>
		</div>
		<div class="col-6">
			<h5>Linked Orders</h5>
			<table class="table">
				<tr>
					<th>No.</th>
					<th>Date</th>
					<th>Type</th>
					<th>Num</th>
					<th>Val</th>
				</tr>
				{% for o in entry.order_set.all %}
				<tr>
					<td>{{o.pk}}</td>
					<td>{{o.datetime}}</td>
					<td>{%if o.is_buy%}現物買{%else%}現物売{%endif%}</td>
					<td>{{o.num}}</td>
					<td>{{o.val}}</td>
				</tr>
				{%endfor%}
			</table>
			<button class="btn btn-primary">Link orders</button>
			<button class="btn btn-secondary">Unlink orders</button>
		</div>
	</div>
</div>
{% endblock %}