{% extends "web/base.html" %}

{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
    <div class="col-12">
	    <div class="card">
		    <div class="card-header bg-dark text-white">
					<h3>Top</h3>
		    </div>
		    <div class="card-body">
			    <a href="{%url 'web:entry_list'%}">
						<h5 class="card-title">Entrys</h5>
			    </a>
			    <table class="table">
				    <thead>
				      <tr>
					      <th>No.</th>
					      <th>Stock</th>
					      <th>Status</th>
					      <th>Open</th>
					      <th>Close</th>
					      <th>Profit</th>
								<th>Remaining</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for entry in entrys %}
				      <tr>
					      <td>
						      <a href="{% url 'web:entry_detail' entry_id=entry.pk %}">{{entry.pk}}</a>
					      </td>
				        <td>{{entry.stock}}</td>
					      <td>
						      <h5>
						      {%if entry.is_closed%}
							      {%if entry.profit > 0 %}
							      <span class="badge bg-large bg-success">Win</span>
							      {%else%}
							      <span class="badge bg-danger">Lose</span>
							      {%endif%}
						      {%else%}
						        <span class="badge">Open</span>
						      {%endif%}
						      </h5>
					      </td>
					      <td>{{entry.date_open}}</td>
					      <td>{{entry.date_close}}</td>
					      <td>¥{{entry.profit}}</td>
					      <td>{{entry.remaining}}</td>
				      </tr>
				      {% endfor %}
				    </tbody>
			    </table>
		    </div>
	    </div>
    </div>
  </div>

	<hr>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h3>User</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">User info</h5>
					<dl>
						<dt>User: </dt>
						<dd>{{user}}</dd>
						<dt>Mail Address: </dt>
						<dd>{{user.email}}</dd>
					</dl>

					{% if request.user.is_superuser %}
					<hr>
					<h4>Tasks</h4>
					<table class="table table-responsive">
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Date</th>
							<th>Name</th>
							<th>Args</th>
							<th>Result</th>
						</tr>
						{% for task in tasks %}
						<tr>
							<td>
								<a href="/admin/django_celery_results/taskresult/{{task.id}}">
								{{task.task_id}}
								</a>
							</td>
							<td>
								{%if task.status == "SUCCESS"%}
								<label class="badge badge-pill badge-success">SUCCESS</label>
								{%else%}
								<label class="badge badge-pill badge-danger">SUCCESS</label>
								{%endif%}
							</td>
							<td>{{task.date_done | date}}</td>
							<td>{{task.task_name}}</td>
							<td>{{task.task_args}}</td>
							<td>{{task.result}}</td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-success text-white">
					<h3>Data Studio</h3>
				</div>
				<div class="card-body">
			    <h5 class="card-title">Secondary card title</h5>
<!--					<p class="card-text">{{msg}}</p>-->
					<iframe
									width="100%"
									height="100%"
									src="https://datastudio.google.com/embed/reporting/1pymHrwsmAF6OSbVuXseIAazF3ByPMYWq/page/69Tm"
									frameborder="0"
									style="border:0"
									allowfullscreen
					>
					</iframe>
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}