{% extends "web/base.html" %}

{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
    <div class="col-12">
	    <div class="card">
		    <div class="card-header bg-dark text-white">
					<h3>Top</h3>
		    </div>
		    <div class="card-body">
					<h5 class="card-title">Message</h5>
			    <p class="card-text">{{msg}}</p>
		    </div>
	    </div>
    </div>
  </div>
	
	<div class="row">
		<div class="col-md-6 col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h3>User</h3>
				</div>
				<div class="card-body">
					<h5 class="card-title">User info</h5>
					<p class="card-text">{{user}}</p>
					<p class="card-text">{{user.email}}</p>
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="card">
				<div class="card-header bg-success text-white">
					<h3>Data Studio</h3>
				</div>
				<div class="card-body">
			    <h5 class="card-title">Secondary card title</h5>
					<p class="card-text">{{msg}}</p>
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}